.release {
}

.release h2{
    margin: 8px 0px 3px 0px;
}

.release li:not(:first-of-type){
    padding-top: 7px;
}

.release h5{
    margin: 0px 0px 3px 0px;
    font-weight: 400;
}

.releaseImageContainer{
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 0 0;
}
.releaseImage{
    background: url('images/blank-cd.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 200px;
    position: relative;
    float: right;
    margin-top: -46px;
}
.releaseContent{
    flex: 3 0 0;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}
.releaseSubHeaders{
    font-family: Dosis;
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 325px;
    margin-top: 4px;
    margin-left: 6px;
}
.releaseSubHeader{
    margin-right: 15px;
    color: #ddd;
}
.releaseSubHeadersBold{
    font-weight: 600;
    margin-right: 6px;
    color: #FF3D00;
}
.releaseViewAll:hover{
    text-decoration: underline;
}
.trackArtist{
    display: inline-block;
    background-color: #555;
    padding: 3px 4px 3px 8px;
    border-radius: 5px;
    font-size: 13px;
}
.trackArtist:hover{
    color: #79CF21;
    cursor: pointer;
}
.releaseTrackList:not(:last-of-type) + .releaseTrackList{
    padding-bottom: 25px;
}
